{
  "presets": [
    ["@babel/env", {
      // with this all the needed individuals transpiling will load automatically instead of specifying each one
      "useBuiltIns": "usage",
      "corejs": "3",
      // this target config is needed to support very old browsers and transpiling fetch, promises, etc...
      "targets": {
        "browsers": [
          "last 5 versions",
          "ie >= 8"
        ]
      }
    }] 
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
